*{
  margin: 0;
  padding: 0;
}

.preloader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.preloader {
  border: 4px solid rgba(0, 0, 0, 0.3);
  border-top: 4px solid blue;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.caution p{
  padding-bottom: 20px;
}

.error{
  color: red;
  font-size: 21.333px;
  font-weight: bolder;
 
}




















.form-iebc{
  text-align: center;
  width: 100%;
  min-height: 100vh;

}
.form-iebc form{
  box-shadow: 10px 10px 5px 0px rgba(47,93,107,0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(47,93,107,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(47,93,107,0.75);
  width: 100%;
  
}
.form-iebc form div{
width: 100%;

margin-bottom: 20px;


}
.form-iebc form div input{
  width: 77%;
  height: 30px;
  border-color: green;
}
.form-iebc form button{
  font-size: 22px;
 background-color: rgba(0, 128, 0, 0.738);
 cursor: pointer;
}
/* TableComponent.css */

.table-container {
text-align: left;

}

.custom-table {
  border-collapse: collapse;
  width: 80%;
 
}

.custom-table th, .custom-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  width: 100px;
  height: 100px;
}
.thanks{
  text-align: center;
}

.custom-table button{
width: 100px;
height: 49px;
background-color: rgba(255, 140, 0, 0.72);
cursor: pointer;
border-radius: 20px;

}
.custom-table input{
  width: 100%;
  height: 100%;
  border: none;
  outline: orangered;
}




.rules{
  text-align: center;
}
.rules div strong{
  text-decoration: underline;
  font-weight: bold;
  color: green;
}
.rules div p{
  color: red;
}





























